@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html,
body {
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background: -webkit-linear-gradient(right, #3f3131, #9c8f95);
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.box{
    background-color: rgba(255, 255, 255, 0.932);
    display: grid;
    height: 350px;
    width: 300px;
    place-items: center;
    
}
.field{
    display: grid;
    padding: 12px;
}
.main_title{
    font-size: 30px;
    font-weight: bold;
}