{% load static %}

<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인 페이지</title>
    <link rel="stylesheet" href="{% static 'assets/css/login.css' %}">
</head>

<body>
    <dir class="box">

        <div class="main_title">코코팡의 홈페이지</div>
        <form action="" class="login" method="POST">
            {% csrf_token %}
            <div class="field">
                <input name="username" type="text" style="padding: 2px;" placeholder="아이디">
            </div>
            <div class="field">
                <input name="password" type="password" style="padding: 2px;" placeholder="비밀번호">
            </div>

            <div class="field">
                <input type="submit" style="padding: 2px;" value="Login">
            </div>
            <div class="signup-link">아이디가 없나요? <a href="{% url 'user:signup' %}">회원가입</a></div>
            <div class="pass-link"><a href="">비밀번호 찾기</a></div>
        </form>
    </dir>
</body>

</html>