<form action="#" class="signup" method="POST">
    {% csrf_token %}
    <div class="field">
        <input name="username" type="text" placeholder="아이디" required>
    </div>
    <div class="field">
        <input name="password" type="password" placeholder="비밀번호" required>
    </div>
    <div class="field">
        <input name="re_password" type="password" placeholder="비밀번호 확인" required>
    </div>
    <div class="field">
        <input name="email" type="email" placeholder="이메일" required>
    </div>
    <div class="field">
        <input type="submit" value="Signup">
    </div>
</form>