{% extends "base.html" %}
{% load static %}

<body>
    {% block body %}

    {% include "navbar.html" %}

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="hero d-flex align-items-center">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex flex-column justify-content-center">
                    <h1 data-aos="fade-up">게시판 만들기</h1>
                    <h2 data-aos="fade-up" data-aos-delay="400"></h2>
                    <div data-aos="fade-up" data-aos-delay="600">
                        <div class="text-center text-lg-start">
                            <a href="#about"
                                class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                                <span>바로가기</span>
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                        
                    <h2 data-aos="fade-up" data-aos-delay="400">꾸준하게..</h2>
                    </div>
                    
                </div>
                <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
                    <img src="{ % static 'assets/img/hero-img.png' %}" class="img-fluid" alt="">
                </div>
            </div>
        </div>

    </section><!-- End Hero -->


    <main id="main">
    </main>

    {% include "footer.html" %}
    {% endblock %}
</body>